        @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        :root {
            --primary-color: #019934;
            --accent-color: #021107;
            --secondary-color: #d8f0e0;
        }

        body {
            font-family: "Montserrat", sans-serif;
            background-color: white;
        }

        .container-bg {
            background-color: var(--secondary-color);
        }

        .bg-custom {
            background-color: var(--primary-color);
        }

        .navbar-btn {
            background-color: var(--secondary-color) !important;  
            color: var(--primary-color) !important;
                border-color: var(--secondary-color) !important;
                border-radius: 5px;
                text-decoration: none;
                padding: 12px 15px !important;
                font-weight: 700;
        }

.nav-link a:hover {
    color: var(--accent-color);
}

.nav-links li a {
    transition: 0.3s ease;
    color: white;
    padding: 5px;
}

nav li.active a {
    color: var(--accent-color);
}

        .welcome-text {
            color: #000000;
            font-family: 'Fraunces', serif;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            text-align: center;
        }
        .bg-image {
            background-size: cover;
                
                display: flex;
        }

        .welcome * {
            position: relative;
            z-index: 1;
        }

        .welcome-text h1 {
            font-size: 60px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .welcome p {
            font-size: 30px;
            margin: 0;
        }

        section.grid {
            max-width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: var(--secondary-color);
                margin-bottom: 10px;
                border-radius: 15px;
                overflow: hidden;
        }

        .products {
            margin-bottom: 10px;
            text-align: center;
        }

        

                button.cta {
                    background-color: var(--primary-color);
                    border: none;
                    padding: 20px;
                    border-radius: 12px;
                    color: var(--secondary-color);
                    font-size: 18px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color .3s ease;
                }

                button.cta:hover {
                    background-color: var(--primary-color);
                }
        
                button.cta img {
                    padding-right: 7px;
                }


        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

                .newsletter {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
            background-color: var(--accent-color);
                background-image: url("60-lines.png");
                background-repeat: no-repeat;
                background-position: 20% 30%;
                color: var(--secondary-color);
                
        }
                .newsletter .form {
                    display: flex;
                    width: 40%;
                }
        .newsletter h4 {
            font-size: 22px;
            font-weight: 700;
            color: white;
        }

        .newsletter p {
            font-size: 14px;
            font-weight: 600;
        }

        .newsletter input {
            height: 3.125rem;
            padding: 0 1.25rem;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 4px;
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .newsletter .normal {
            background-color: var(--primary-color);
            color: var(--accent-color);
            white-space: nowrap;
            border-top-left-radius: 0;
                border-bottom-left-radius: 0;
        }

        footer {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: 10px 10%;
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }

       

        .socials {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            align-items: center;
        }

        .socials a {
            color: var(--secondary-color);
            font-size: 30px;
            margin: 0 10px;

        }
                .socials a:hover {
                    color: var(--accent-color);
                }
               
        
                
        
                .grid {
                    max-width: 700px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    background-color: var(--secondary-color);
                    margin-bottom: 10px;
                    border-radius: 15px;
                    overflow: hidden;
                }
        
                .img img {
                    max-width: 100%;
                    display: inherit;
                }
        
                .card-content {
                    padding: 35px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
        
                h1.category {
            font-family: 'Fraunces', serif;
                    text-transform: uppercase;
                    color: #343e37;
                }
        
                h2.name {
                    font-family: 'Frank Ruhl Libre',
                        serif;
                    font-size: 34px;
                    line-height: 1em;
                    color: #000000;
                }
                                p.description {
                                    color: #343e37;
                                    line-height: 1.6em;
                                }
                        @media only screen and(max-width: 628px) {
                            .grid {
                                grid-template-columns: 1fr;
                            }
            
                            .img img {
                                max-height: 450px;
                                width: 100%;
                                object-fit: cover;
                            }
            
                            .card-content {
                                display: block;
                            }
            
                            h1.category,
                            h2.name,
                            p.description,
                            .price {
                                padding-bottom: 23px;
                            }
                        }
            
                        @media only screen and (max-width: 375px) {
                            .container {
                                margin: 15px auto;
                                padding: 0 15px;
                            }
            
                            .img img {
                                max-height: 290px;
                            }
            
                            .card-content {
            
                                padding: 24px;
                            }
            
                            h1.category,
                            h2.name,
                            p.description,
                            .price {
                                padding-bottom: 23px;
                            }
            
                            h2.name {
                                font-size: 28px;
                            }
            
                            p.description {
                                font-size: 12px;
                            }
            
                            p.current-price {
                                font-size: 23px;
                            }
            
                            button.cta {
                                padding: 12px 0;
                                font-size: 13px;
                            }
                                        .newsletter input {
                                            height: 3.125rem;
                                            padding: 0 75px;
                            
                                        }
            
                        .attribution {
                            font-size: 11px;
                            text-align: center;
                        }
            
                        .attribution a {
                            color: var(--primary-color);
                        }
                    }