        @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        :root {
            --primary-color: #019934;
            --secondary-color: #bcf3ce;
        }

        body {
            font-family: "Montserrat", sans-serif;
        }

        .bg-custom {
            background-color: var(--primary-color);
        }

        .navbar-btn {
            background-color: var(--secondary-color) !important;  
            color: var(--primary-color) !important;
                border-color: var(--secondary-color) !important;
                border-radius: 5px;
                text-decoration: none;
                padding: 12px 15px !important;
                font-weight: 700;
        }

        .nav-links li a {
            transitions: all 0.3s ease 0s;
            color: #eaffe3;
            padding: 5px;
        }

        .nav-links li a:hover {
            color: aqua;
        }


        .site-body {
            background-color: var(--secondary-color);
        }

        .welcome-text {
            color: #000000;
            font-family: 'Fraunces', serif;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            text-align: center;
        }
        .bg-image {
            background-size: cover;
                
                display: flex;
        }

        .welcome * {
            position: relative;
            z-index: 1;
        }

        .welcome-text h1 {
            font-size: 60px;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .welcome p {
            font-size: 30px;
            margin: 0;
        }

        .products {
            margin-bottom: 10px;
            text-align: center;
        }

        

                button.cta {
                    background-color: var(--primary-color);
                    border: none;
                    padding: 12px;
                    border-radius: 12px;
                    color: var(--secondary-color);
                    font-size: 14px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color .3s ease;
                }

                button.cta:hover {
                    background-color: var(--primary-color);
                }
        
                button.cta img {
                    padding-right: 7px;
                }


        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10%;
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }

        submit {
            color: darkolivegreen;
            border: 20px solid #CEFFBD;
            background-color: #CEFFBD;
            border-radius: 5px;
        }

        .socials {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            align-items: center;
        }

        .socials a {
            color: var(--secondary-color);
            font-size: 30px;
            margin: 0 10px;

        }

        a:hover {
            color: aqua;
        }